In [1]:
#Simple comprehensions building out a list
l = []

In [2]:
for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [4]:
lst = [letter for letter in 'word']
lst

['w', 'o', 'r', 'd']

In [5]:
#Square numbers in a range and add to a list
y = [x**2 for x in range(0,11)]
y

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#Now an if statement
lst = [number for number in range(11) if number %2 ==0]

In [7]:
lst

[0, 2, 4, 6, 8, 10]

In [8]:
lst = []

for number in range(11):
    if number %2 ==0:
        lst.append(number)

In [9]:
lst

[0, 2, 4, 6, 8, 10]

In [12]:
#A more complicated examlpe where C is converted to F
celsius = [0,10,20,.1,34.5]

fahrenheit = [(temp*(9/5.0)+32) for temp in celsius]

fahrenheit

[32.0, 50.0, 68.0, 32.18, 94.1]

In [15]:
#A nested list comprehension
lst = [x**2 for x in [x**2 for x in range(11)]]

In [16]:
lst
#Finial result is x**4 for range(11)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]